.errors {
  color: red;
}

.markdown {
  h1 {
    font-size: 1.75em;
  }

  ul,
  ol,
  pre {
    background-color: #f9f9f9;
  }

  ul,
  ol {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  pre {
    padding: 1em;
  }
}
