$text-color: #2c3e50;
$strong-background-color: #f9f9f9;
$language-color: #fff;
$language-background-color: #333;

.errors {
  color: red;
}

.markdown {
  word-break: break-all;

  h1 {
    font-size: 1.75em;
  }

  ul,
  ol,
  blockquote {
    background-color: $strong-background-color;
  }

  pre {
    margin-bottom: 16px;
  }

  ul,
  ol {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-bottom: 16px;
  }

  blockquote {
    padding: 1em;
    margin-bottom: 16px;

    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  blockquote {
    margin-left: 0;
    position: relative;
    font-style: italic;
    padding-top: 1.5em;
  }

  blockquote blockquote {
    margin-left: 1em;
    padding-bottom: 0;
  }

  blockquote:before {
    content: '“';
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    font-family: sans-serif;
    color: #cfcfcf;
    top: 0.1em;
    left: 0.1em;
    font-size: 4em;
    line-height: 1;
  }

  hr {
    margin-bottom: 16px;
  }

  code:not(.hljs) {
    color: $text-color;
    box-shadow: none;
    font-weight: normal;
    font-size: 100%;
    background-color: $strong-background-color;
  }
}
